body {
    background-color: #eaf2e3;
    color: #333;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* Estilo para la clase "destacado" */
.destacado {
    text-align: center;
    font-weight: bold;
    font-style: italic;
}
    /* Estilo para la clase "contenedor" */
.contenedor {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
}
/* Estilo para el encabezado */
header {
    background-color: #69bd45;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Estilo para las secciones */
section {
    padding: 20px; /* espaciado para la sección de 20 pixeles */
}

/* Estilo para el pie de página */
footer {
    background-color: #4caf50; /* Color de fondo del footer */
    color: #fff;
    padding: 20px 0;
}
/* Estilo para el contenido del pie de página */
.footer-content {
    max-width: 800px; /* Ancho máximo del contenido del footer */
    margin: 0 auto; /* Centrar el contenido del footer horizontalmente */
    text-align: center;
}
/* Estilos para el nav y enlaces de ul y li */
nav {
    background-color: #4caf50;
    padding: 10px;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
nav ul li {
    display: inline-block;
    margin-right: 20px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 5px;
}
nav ul li a:hover {
    background-color: #2f8247;
}
/* Estilos para las imágenes */
.logo {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    border: 3px solid #69bd45;
    border-radius: 10px;
}
}